.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.item{
  background: rgba(255, 255, 255, 0.486);
  border-radius: 15px;
  margin: 15px;
  padding: 20px;
}

.item img{
  float:left;
}

.item code{
  float: none;
  clear:both;
}

.item h3{
  clear:both;
}